/* -----VARIABLES----- */
:root {
  --primary-color: #042051;
  --accent-color: #4A78EC;
  --red-color: #F70531;
  --green-color: #0FBC40;
  --light-gray-color: #818FA7;
  --cancel-color: #16193180;
  --hover-color: #16193115;
  --error-color: #ff5656;
  --white-color: #ffffff;
  --grey-color: #4F4F4F;
  --border-light-gray: #E1E8EF;

  --accent-color-op3: rgba(74, 120, 236, 0.30);
}