/* -----VARIABLES----- */
:root {
  --primary-color: #042051;
  --accent-color: #4A78EC;
  --red-color: #F70531;
  --green-color: #0FBC40;
  --light-gray-color: #818FA7;
  --cancel-color: #16193180;
  --hover-color: #16193115;
  --error-color: #ff5656;
  --white-color: #ffffff;
  --grey-color: #4F4F4F;
  --border-light-gray: #E1E8EF;
  --light-blue-color: #E5F0FF;

  --primary-color-op80: #042051CC;
  --primary-color-op50: #04205180;
  --primary-color-op15: #04205126;
  --primary-color-op10: #0420511A;

  --accent-color-op10: #4A78EC1A;
  --accent-color-op15: #4A78EC26;
  --accent-color-op30: #4A78EC4D;
  --accent-color-op50: #4A78EC80;
  --accent-color-op80: #4A78ECCC;
  --accent-color-op05: #F6F9FD;

  --red-color-op05: #F705310D;
  --red-color-op07: #f7053111;
  --red-color-op10: #F705311A;
  --red-color-op15: #F7053126;
  --red-color-op30: #F705314D;
  --red-color-op50: #F7053180;
  --red-color-op60: #f7053199;

  --light-gray-color-op50: #818FA780;
  --light-gray-color-op30: #818FA74D;
  --light-gray-color-op20: #818FA733;
  --light-gray-color-op10: #818FA71A;

  --orange-color: #FF5C00;
  --orange-color-op60: #FF5C0099;
  --light-orange-color: #FF6B00;
}