/* -----VARIABLES----- */
:root {
  --primary-color: #042051;
  --accent-color: #4A78EC;
  --red-color: #F70531;
  --green-color: #0FBC40;
  --light-gray-color: #818FA7;
  --cancel-color: #16193180;
  --hover-color: #16193115;
  --error-color: #ff5656;
  --white-color: #ffffff;
  --grey-color: #4F4F4F;
  --border-light-gray: #E1E8EF;

  --accent-color-op1: rgba(74, 120, 236, 0.10);
  --accent-color-op3: rgba(74, 120, 236, 0.30);
  --accent-color-op5: rgba(74, 120, 236, 0.50);
  --accent-color-op05: #F6F9FD;

  --red-color-op5: rgba(255, 0, 54, 0.05);
  --red-color-op7: rgba(255, 0, 54, 0.07);

  --light-gray-color-op5: #818FA780;
}